version: '3.8'

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5436:5432'

  backend:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/postgres
      IMPORTS_PATH: /app/imports
    volumes:
      - ./app:/app/app
      - ./imports:/app/imports
    ports:
      - '8000:8000'

volumes:
  db_data: